@font-face {
  font-family: voga;
  src: url(VogaMedium.ttf);
}

@font-face {
  font-family: poiret;
  src: url(PoiretOne-Regular.ttf);
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url(bg.jpg) repeat;
  font-family: poiret;
}

.hidden {
  display: none !important;
}

#mainContent,
#loadingMessage {
  width: 100%;
  height: 100%;
  min-height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#sectionsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}

h1,
h2 {
  font-family: voga;
}

section {
  flex-basis: 1;
}

form {
  z-index: 1;
}

form button[type="submit"] {
  padding: 10px 20px;
  font-family: 'voga';
  font-size: large;
  letter-spacing: 2px;
  background: #907c5a;
  border: none;
  color: white;
}

/* General form layout */
form label {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

form input[type="text"],
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Align radio buttons and their label on the same line */
.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group label:first-child {
  margin-right: 10px;
  /* Space between label and radio buttons */
}

.radio-group input[type="radio"] {
  margin-right: 5px;
  accent-color: rgb(16, 18, 129);
  width: 20px;
  height: 20px;
  margin-top: -5px;
}

.radio-group label[for="RSVPYes"],
.radio-group label[for="RSVPNo"] {
  margin-right: 15px;
  /* Space between radio options */
  display: inline-block;
}

/* Food preference field and label alignment */
.food-preference {
  margin-bottom: 15px;
  text-align: left;
}

:root {
  --book-ratio: 9/6;
  --size: 70vw;
  --vertical-size: 70vh;
  --size-padding: 5vh;
  --size-corner: 3.5vh;
  --color-bg: #fff;
  --s-border-1: 3px;
  --s-border-2: 2px;
  --s-border-3: 3px;
  --c-border-1: #907c5a;
  --c-border-2: #907c5a;
  --c-border-3: #907c5a;
  --r-border-3: 8vh;
  --o-border-3: 2vh;
}

.box {
  width: var(--size);
  height: var(--vertical-size);
  background: var(--color-bg);
  position: relative;
  padding: var(--size-padding);
  margin: 10vh auto;
  box-shadow: 0px 0px 15px #aaa;
}

.border {
  width: var(--size);
  height: var(--vertical-size);
  border: var(--s-border-1) solid var(--c-border-1);
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: "";
    position: absolute;
    width: calc(var(--size) - var(--size-corner));
    height: calc(100% - var(--size-corner));
    left: calc(var(--size-corner) / 2);
    top: calc(var(--size-corner) / 2);
    box-sizing: border-box;
    border: var(--s-border-2) solid var(--c-border-2);
  }

  &__corner {
    --size: var(--size-corner, 20px);
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: var(--s-border-2) solid var(--c-border-2);
    background: var(--c-corner-bg, transparent);
    transform: translate(var(--move-x, 0), var(--move-y, 0));

    &--top {
      --move-y: -50%;
      top: 0;
    }

    &--right {
      --move-x: 50%;
      right: 0;
    }

    &--left {
      --move-x: -50%;
      left: 0;
    }

    &--bottom {
      --move-y: 50%;
      bottom: 0;
    }
  }
}

.cutout {
  width: var(--size);
  padding: var(--o-border-3);
  height: var(--vertical-size);
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(var(--r-border-3) at var(--r-border-3) var(--r-border-3),
        transparent calc(98% - var(--s-border-3)),
        var(--c-border-3) calc(100% - var(--s-border-3)) 98%,
        transparent) calc(var(--r-border-3) * -1) calc(var(--r-border-3) * -1),
      linear-gradient(90deg,
        var(--c-border-3) var(--s-border-3),
        transparent 0 calc(100% - var(--s-border-3)),
        var(--c-border-3) 0) 50%/100% calc(100% - (var(--r-border-3) * 2) + var(--s-border-3)) no-repeat,
      linear-gradient(var(--c-border-3) var(--s-border-3),
        transparent 0 calc(100% - var(--s-border-3)),
        var(--c-border-3) 0) 50% / calc(100% - (var(--r-border-3) * 2) + var(--s-border-3)) 100% no-repeat;
  }
}